<div class="col-xs-12 footer">
  <div class="row main-column">

    <% if @game %>
    <div class="suggestions">
      <a href="#suggestions" class="fancybox-button fancybox-suggestions">
        <span class="btn btn-primary btn-sm open-suggestions-popup">Suggestions/issues?</span>
      </a>

      <div class="suggestions-popup" id="suggestions">
        <select class="form-control">

          <option value="">— Select one —</option>
          <option value="suggestion">I have a suggestion</option>

          <% @associated_names.each do |item| %>
          <option value="<%= item[0] %>"><%= item[0] %></option>

          <% if item[0].eql?(@game.name) %>
          <option value="<%= item[0] %>_HLTB"><%= item[0] %> HowLongToBeat section</option>
          <option value="<%= item[0] %>_REDDIT"><%= item[0] %> Reddit discussion section</option>
          <% end %>
          
          <% end %>

        </select>

        <div class="form-group">
          <textarea class="form-control" rows="10" placeholder='Examples: "Clicking this item doesn&rsquo;t show any prices"; "I&rsquo;d like to see ..."'></textarea>
        </div>

        <span class="btn btn-primary disabled submit-suggestion">Submit</span>
      </div>
    </div>
    <% end %>

    <div class="legal">
      <a href="http://howlongtobeat.com" target="_blank">HowLongToBeat,</a> <a href="http://isthereanydeal.com" target="_blank">IsThereAnyDeal,</a> <a href="http://metacritic.com" target="_blank">Metacritic,</a>, <a href="http://store.steampowered.com" target="_blank">Steam</a>, <a href="http://reddit.com" target="_blank">Reddit</a>, and <a href="http://google.com" target="_blank">Google</a> are not responsible for any statistics, prices, or other information displayed on this site. As GamesVault does not own the information, GamesVault is not responsible for its accuracy, and such content may already be outdated at the time of visit. All information, copyrights, and trademarks are the sole property of their respective owners.
    </div>
  </div>
</div>