<div class="container">

<div class="col-md-12 header">
  <div class="col-md-4 homepage-title">
    <h1>The Name Goes Here</h1>
  </div>

  <div class="col-md-8 search-bar">
    <%= form_tag "/get_game", method: :get do %>
      <div class="input-group">
        <% if params[:query].present? %>
          <div class="input-group-btn">
            <%= link_to "clear", "/", class: "btn btn-default" %>
          </div>
        <% end %>
        <%= text_field_tag :query, params[:query], class: "form-control typeahead", id: "game_search", autocomplete: "off" %>
        <div class="input-group-btn">
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% if !@game %>
<div class="not-found">
  <h4>The game requested was not found in the database</h4>
</div>

<% else %>
<div class="row nav-bar">
  <div class="col-md-3"></div>
  <div class="col-md-2">Placeholder</div>
  <div class="col-md-2">Placeholder</div>
  <div class="col-md-2">Placeholder</div>
  <div class="col-md-3"></div>
</div>

<div class="row main-column game-name">
  <h3><%= @game.name %></h3>
</div>

<div class="row main-column vital-data">

  <div class="img-container">
    <img class="gamepage-img" src="<%= @game.headerimg %>" />
  </div>

  <div class="info-container">

    <div class="center">
      <div class="score-container">
        <div class="circle">
        <span class="metascore"><%= @game.metascore || "??" %></span>
        </div>
      </div><!--
      --><div class="score-container">
        <div class="circle">
        <span class="steam-pct"><%= @misc_info[:steam_percentage] || "??" %></span>
        </div>
      </div>
    </div>

    <div class="recs-container">
      <span class="recs-num"><%= @game.recommendations || "??" %></span>
      <p class="recs-word">recommendations</p>
    </div>
  </div>

</div>

<!--div class="row main-column pics">
  <div class="pics-container-outer">
    <div class="pics-container-inner">
      <%@google_image_links.each do |image|%>
        <div class="lightbox-image">
          <a href="<%= image %>"
            data-lightbox="image-gallery"
            data-title="<%= @game.name %>">
            <img class="display-image" src="<%= image %>">
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div-->

<!-- funny-looking comments are to get rid of extra spaces; erb is still rendered -->
<div class="row main-column pics">
  <ul id="horiz_container_outer">
    <li id="horiz_container_inner">
      <ul id="horiz_container"><!--
        <%@google_image_links.each do |image|%>
          --><li><a href="#"
            data-lightbox="image-gallery"
            data-title="<%= @game.name %>">
            <img class="display-image" src="<%= image %>">
          </a></li><!--
        <% end %>
      --></ul>
    </li>
  </ul>

  <div id="scrollbar">
    <a id="left_scroll" class="mouseover_left" href="#"></a>
    <div id="track">
      <div id="dragBar"></div>
    </div>
    <a id="right_scroll" class="mouseover_right" href="#"></a>
  </div>
</div>


<div class="row main-column hltb-extra">
  <h4>Game statistics</h4>

  <div class="col-md-8 hltb-container">
    <% if !@game.hltb %>
      <p>We couldn't find gameplay information on </p>
      <a href="http://howlongtobeat.com">HowLongToBeat.</a>
    <% else %>
      <table class="table">

        <tr>
          <th></th>
          <th>Time to beat</th>

          <th>
            Price/hr (lowest discounted<%=
            if @lowest_current_arr && @lowest_current_arr != [] then
              ", " + @lowest_current_arr[0][:current_price]
            end %>)
          </th>

          <th>Price/hr (lowest original<%=
            if @lowest_regular_arr && @lowest_regular_arr != [] then
              ", " + @lowest_regular_arr[0][:regular_price]
            end %>)</th>
        </tr>

        <% {"Main Story" => @game.MainStory || 0,
            "Main + Extras" => @game.MainExtra || 0,
            "Completionist" => @game.Completion || 0,
            "Combined" => @game.Combined || 0}.each do |title, hrs| %>
          <tr>
            <td style="width:120px"><%= title %>:</td>
            <td><%= if hrs != 0 then
              if hrs < 1 then
                (hrs*60).to_i.to_s + " min"
              else
                hrs.to_i.to_s + " hr"
              end
              else "??" end %>
            </td>

            <td><%= if
              hrs != 0 &&
              @lowest_current_arr &&
              @lowest_current_arr != []
              then
              "$" + sprintf("%.2f", (@lowest_current_arr[0][:current_price].gsub("$","").to_f)/hrs)
              else "??" end %>
            </td>

            <td><%= if
              hrs != 0 &&
              @lowest_regular_arr &&
              @lowest_regular_arr != []
              then
              "$" + sprintf("%.2f", (@lowest_regular_arr[0][:regular_price].gsub("$","").to_f)/hrs)
              else "??" end %>
            </td>
          </tr>
        <% end %>

      </table>

      <a href="http://howlongtobeat.com/<%= @game.hltb %>">(View on HowLongToBeat)</a>
    <% end %>
  </div>

  <div class="col-md-4 extra-info-container">
    <ul>
      <li>Released: <%= @game.releasedate || "Unknown" %></li>
      
      <li>
      Developer<%= "s" if @game.developer && @game.developer.gsub(/(\[\"|\"\])/, '').split('", "').length > 1 %>:
      <%= @game.developer.gsub(/(\[\"|\"\])/, '').split('", "').join(', ') || "Unknown" %>
      </li>
      
      <li>Website:
      <% if @game.website %>
        <a href="<%= @game.website %>"><%= @game.website.sub("http://","").sub("com/","com") %></a>
      <% end %>
      </li>
      
      <li>
      <% if @game.steamid %>
        <a href="http://store.steampowered.com/app/<%= @game.steamid %>">View on Steam</a>
      <% else %>
        <a href="http://store.steampowered.com">View on Steam</a>
      <% end %>
      </li>

      <li>
      <% if @game.metaurl %>
        <a href="<%= @game.metaurl %>">View on Metacritic</a>
      <% else %>
        <a href="http://metacritic.com">View on Metacritic</a>
      <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="row main-column pricing">
  <% if !@game.itad %>
    <p>We couldn't find any deals on </p>
    <a href="http://isthereanydeal.com">IsThereAnyDeal.</a>
  <% else %>
    <h4>Price information</h4>

    <table>
      <tr>
        <td class="col-md-6">

          <div class="section-view">
            <span class="section-title">DLCs for this game</span>
            <div class="section-view-inner">
              <table class="table">
                <% @associated_names.each do |name,data| %>
                  <% if data[:is_dlc] %>
                    <tr><td class="game-entry <%= 'selected' if name.eql?(@game.name) %>"><%= name %></td></tr>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>

          <div class="section-view">
            <span class="section-title">Packages for this game</span>
            <div class="section-view-inner">
              <table class="table">
                <% @associated_names.each do |name,data| %>
                  <% if data[:is_pkg] %>
                    <tr><td class="game-entry <%= 'selected' if name.eql?(@game.name) %>"><%= name %></td></tr>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>

        </td>

        <td class="col-md-6 pricing-entry">
          <% @associated_names.each do |name,data| %>
            <div class="pricing-entry-inner
            <%= name.eql?(@game.name) ? 'selected' : 'unselected' %>
            <%= name.gsub(/[^\w\d]/,"-") %>
            <%= 'dlc' if data[:is_dlc] %>
            <%= 'unlisted' if !data[:is_dlc] && !data[:is_pkg] %>">
              <span class="pricing-title"><%= name %></span>
              <table class="table">
                <% if name.eql?(@game.name) && @prices[@game.name] %>

                  <tr>
                    <th>Vendor</th>
                    <th>Price</th>
                    <th style="width:80px">Lowest recorded</th>
                  </tr>

                  <% @prices[@game.name].each do |entry| %>
                    <tr>
                      <td><a href="<%= entry[:store_url] %>"><%= entry[:store] %></a></td>
                      <td><%= entry[:current_price] %> (<%= entry[:price_cut]%>)</td>
                      <td><%= entry[:lowest_recorded] %></td>
                    </tr>
                  <% end %>

                <% end %>
                <!-- this is just the default display,
                else this data is appended to the appropriate element by jquery/ajax -->

              </table>
            </div>
          <% end %>

          <% @associated_names.each do |name,data| %>
            <% if data[:is_pkg] %>
              <div class="pricing-entry-pkg-contents
              <%= name.eql?(@game.name) ? 'selected' : 'unselected' %>
              <%= name.gsub(/[^\w\d]/,"-") %>">
                Contents:
                <ul>
                <% Package.find_by(name: name).apps.split(",").each do |item_id| %>
                  <% if Game.find_by(steamid: item_id) %>
                    <li><%= Game.find_by(steamid: item_id).name %></li>
                  <% elsif Dlc.find_by(steamid: item_id) %>
                    <li><%= Dlc.find_by(steamid: item_id).name %></li>
                  <% end %>
                <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    </table>

    <a href="http://isthereanydeal.com/#/page:game/info?plain=<%= @game.itad %>">(View on IsThereAnyDeal)</a>
  <% end %>
</div>

<div class="row main-column description col-md-4 extra-info-container" >
  <div class="description-container" 
    style="max-height: 300px; overflow: hidden;">
    <%if @game.description %>
      <%=("<h1>About the Game</h1>" + 
        @game.description.split('About the Game')[1..-1]
      .join("")).html_safe%>
    <%else %>
      <%= @game.description%>
    <%end%>  
  </div>
</div>
<div class="row main-column reddit-reviews">

</div>
<div class="collapsed-description">
  ...
</div>
<% end %>

<script>
// when clicking a game entry, make its corresponding price appear
// (and package contents if applicable)
$(window).load(function() {
  $(".game-entry").click(function(e) {
    var selected_class = $(e.target).text().replace(/[^\w\d]/g,"-");

    // search for currently selected entries; deselect them
    $(".game-entry").removeClass("selected");
    $(".pricing-entry .selected").removeClass("selected").addClass("unselected");

    // search for classes matching the current selection; select them
    $(e.target).addClass("selected");
    $(".pricing-entry ." + selected_class).removeClass("unselected").addClass("selected");

    // send the ajax request using the game name (ITAD URL can only be found with Ruby)
    if ($(".pricing-entry ." + selected_class + ".ajax-loaded").length)
      console.log("Already loaded " + selected_class);
    else {
      $(".pricing-entry ." + selected_class).addClass("ajax-loaded");

      // ajax request: format the table based on hash received from data.results
      $.post("/ajax/get_prices.json",
        { input_name: $(e.target).text() },
        function(data) {
          var output = data.results;
          // console.log(output);

          var outputHTML = "<tr>\
            <th>Vendor</th>\
            <th>Price</th>\
            <th style='width:80px'>Lowest recorded</th>\
          </tr>";

          for (var i = 0; i < output.length; i++) {
            outputHTML += "<tr>\
              <td><a href='" + output[i].store_url + "'>" + output[i].store + "</a></td>\
              <td>" + output[i].current_price + " (" + output[i].price_cut + ")</td>\
              <td>" + output[i].regular_price + "</td>\
            </tr>"
          }

          $(".pricing-entry-inner." + selected_class + " table").append(outputHTML);
        });
    }
  });

  $(".collapsed-description").click(function(e) {
    if ($(".description-container")[0].style.maxHeight == "300px")
      $(".description-container")[0].style.maxHeight = "none";
    else
      $(".description-container")[0].style.maxHeight = "300px";
  });

  /*$(".pics-container-outer").mousewheel(function(e, delta) {
    this.scrollLeft -= (delta*40);
    e.preventDefault();
  });*/
  
  var total_width = 0;
  $("#horiz_container li").each(function(index) {
    total_width += parseInt($(this).outerWidth(true), 10);
  });
  console.log(total_width);

  $("#horiz_container").css("width",(total_width+10)+"px"); // +10 for 5px padding on each side
  $("#horiz_container_outer").horizontalScroll();
  
});
</script>
<!--script>
$(window).load(function() {
  var full_width = $(".info-container").parent().css("width").replace("px","");
  var img_width = $(".img-container").css("width").replace("px","");
  $(".info-container").css("width",full_width-img_width-6 + "px");
  $(".scores-row").css("width",full_width-img_width-30 + "px");

  var circle_width = $(".score-container").css("width");
  $(".score-container").css("height",circle_width);

  /*var cx = circle_width/2;
  var r = cx - 5;
  $(".metascore").append("<circle></circle>");
  $(".metascore circle").attr("cx",cx)
  .attr("cy",cx)
  .attr("r",r)
  .attr("fill","#84FF38");*/
}());
</script-->

<% if @game %>
<table>
  <tr><td>is_dlc: <%=@is_dlc%></td></tr>
  <tr><td>Name: <%=@game.name%></td></tr> 
  <tr><td>Steamid: <%= @game.steamid%></td> </tr>   
  <tr><td>Metascore: <%= @game.metascore%></td> </tr> 
  <tr><td>Metaurl: <%= @game.metaurl%></td> </tr> 

  <tr><td>HLTB: <%= @game.hltb%></td> </tr> 
  <tr><td>Main Story: <%= @game.MainStory%></td> </tr> 
  <tr><td>Main Story + Extra: <%= @game.MainExtra%></td> </tr> 
  <tr><td>Completion : <%= @game.Completion%></td> </tr> 
  <tr><td>Combined : <%= @game.Combined%></td> </tr>  
  <%if @game.description %>
   <tr><td>Description : <%= @game.description.html_safe%></td> </tr> 
  <%else %>
     <tr><td>Description : <%= @game.description%></td> </tr>    
  <%end%>  

  <tr><td>Website : <%= @game.website%></td> </tr>   
  <tr><td>Review : <%= @game.review%></td> </tr> 
  <%if @game.minreq %>
   <tr><td>MinReq : <%= @game.minreq.html_safe%></td> </tr> 
  <%else %>
     <tr><td>MinReq : <%= @game.minreq%></td> </tr>    
  <%end%>    
  <%if @game.recreq %>
   <tr><td>RecReq : <%= @game.recreq.html_safe%></td> </tr> 
  <%else %>
     <tr><td>RecReq : <%= @game.recreq%></td> </tr>    
  <%end%>    
  <tr><td>Release Date : <%= @game.releasedate%></td> </tr>
  <tr><td>Developer : <%= @game.developer%></td> </tr> 
  <tr><td>HeaderImg : <%= @game.headerimg%></td></tr>  
  <tr><td>Recommendations : <%= @game.recommendations%></td></tr>
  <tr><td>Legal : <%= @game.legal%></td></tr>     
  <tr><td>Reddit : <%= if !@is_dlc then @game.subreddit end %></td></tr>     
  <% if !@is_dlc %>
    <%Dlc.where(game_id:@game.id).each do |dlc|%>
      <tr><td>DLC : <%=dlc.name %></td></tr>
    <%end%>
    <%Package.where(game_id:@game.id).each do |package|%>
    <tr><td>Package : <%=package.name %></td></tr>
    <%end%>
  <%end%>
</table>
<%end%>