<h1>SECOND PAGE</h1>
<% if @game %>
<table>
  <tr><td>is_dlc: <%=@is_dlc%></td></tr>
  <tr><td>Name: <%=@game.name%></td></tr> 
  <tr><td>Steamid: <%= @game.steamid%></td> </tr>   
  <tr><td>Metascore: <%= @game.metascore%></td> </tr> 
  <tr><td>Metaurl: <%= @game.metaurl%></td> </tr> 
  <tr><td>HLTB: <%= @game.hltb%></td> </tr> 
  <tr><td>Main Story: <%= @game.MainStory%></td> </tr> 
  <tr><td>Main Story + Extra: <%= @game.MainExtra%></td> </tr> 
  <tr><td>Completion : <%= @game.Completion%></td> </tr> 
  <tr><td>Combined : <%= @game.Combined%></td> </tr>  
  <%if @game.description %>
   <tr><td>Description : <%= @game.description.html_safe%></td> </tr> 
  <%else %>
     <tr><td>Description : <%= @game.description%></td> </tr>    
  <%end%>  
  <tr><td>Website : <%= @game.website%></td> </tr>   
  <tr><td>Review : <%= @game.review%></td> </tr> 
  <%if @game.minreq %>
   <tr><td>MinReq : <%= @game.minreq.html_safe%></td> </tr> 
  <%else %>
     <tr><td>MinReq : <%= @game.minreq%></td> </tr>    
  <%end%>    
  <%if @game.recreq %>
   <tr><td>RecReq : <%= @game.recreq.html_safe%></td> </tr> 
  <%else %>
     <tr><td>RecReq : <%= @game.recreq%></td> </tr>    
  <%end%>    
  <tr><td>Release Date : <%= @game.releasedate%></td> </tr>
  <tr><td>Developer : <%= @game.developer%></td> </tr> 
  <tr><td>HeaderImg : <%= @game.headerimg%></td></tr>  
  <tr><td>Recommendations : <%= @game.recommendations%></td></tr>
  <tr><td>Legal : <%= @game.legal%></td></tr>     
  <tr><td>Reddit : <%= if !@is_dlc then @game.subreddit end %></td></tr>     
  <%Dlc.where(game_id:@game.id).each do |dlc|%>
    <tr><td>DLC : <%=dlc.name %></td></tr>
  <%end%>
  <%Package.where(game_id:@game.id).each do |package|%>
  <tr><td>Package : <%=package.name %></td></tr>
  <%end%>
</table>
<%end%>