<div class="col-md-12 header">
  <div class="col-md-4 homepage-title">
    <h1>The Name Goes Here</h1>
  </div>

  <div class="col-md-8 search-bar">
    <%= form_tag "/get_game", method: :get do %>
      <div class="input-group">
        <% if params[:query].present? %>
          <div class="input-group-btn">
            <%= link_to "clear", "/", class: "btn btn-default" %>
          </div>
        <% end %>
        <%= text_field_tag :query, params[:query], class: "form-control typeahead", id: "game-search", autocomplete: "off" %>
        <div class="input-group-btn">
          <%= submit_tag "Search", class: "submit-button btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">

<div class="col-md-12">
  <div class="col-md-9 listing-container">
    <% if @large_capsules != [] %>
      <% @large_capsules.each do |capsule| %>

        <% if Game.find_by(steamid:capsule) %>
          <div class="col-md-4 capsule">
            <% if Game.find_by(steamid:capsule).headerimg %>
              <a href="http://store.steampowered.com/app/<%= Game.find_by(steamid:capsule).steamid %>">
              <img src="<%= Game.find_by(steamid:capsule).headerimg %>" class="game-img" />
              </a>
            <% else %>
              <%= image_tag "steamlogo.jpg", class: "game-img" %>
              <!--p><%= Game.find_by(steamid:capsule).name %></p-->
            <% end %>
          </div>

        <% elsif Package.find_by(packageid:capsule) %>
          <div class="col-md-4 capsule">
            <% if Package.find_by(packageid:capsule).headerimg %>
              <a class="package-link" href="http://store.steampowered.com/app/<%= Game.find_by(id:Package.find_by(packageid:capsule).game_id).steamid %>">
              <img src="<%= Package.find_by(packageid:capsule).headerimg %>" class="package-img" />

              <div class="vertical-spacer">
              <span class="vertical-spacer-text">PACKAGE</span>
              </div>
              </a>

            <% else %>
              <%= image_tag "steamlogo.jpg", class: "package-img" %>
              <!--p><%= Package.find_by(packageid:capsule).name %></p-->
            <% end %>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>

  <div class="col-md-9">
  <h3 class="divider"><span class="divider">New Deals</span></h3>
  </div>

  <div class="col-md-9 listing-container">
    <% if @new_releases != [] %>
      <% @new_releases.each do |capsule| %>
        
        <% if Game.find_by(steamid:capsule) %>
          <div class="col-md-4 capsule">
            <% if Game.find_by(steamid:capsule).headerimg %>
              <a href="http://store.steampowered.com/app/<%= Game.find_by(steamid:capsule).steamid %>">
              <img src="<%= Game.find_by(steamid:capsule).headerimg %>" class="game-img" />
              </a>
            <% else %>
              <%= image_tag "steamlogo.jpg", class: "game-img" %>
              <!--p><%= Game.find_by(steamid:capsule).name %></p-->
            <% end %>
          </div>

        <% elsif Package.find_by(packageid:capsule) %>
          <div class="col-md-4 capsule">
            <% if Package.find_by(packageid:capsule).headerimg %>
              <a class="package-link" href="http://store.steampowered.com/app/<%= Game.find_by(id:Package.find_by(packageid:capsule).game_id).steamid %>">
              <img src="<%= Package.find_by(packageid:capsule).headerimg %>" class="package-img" />

              <div class="vertical-spacer">
              <span class="vertical-spacer-text">PACKAGE</span>
              </div>
              </a>

            <% else %>
              <%= image_tag "steamlogo.jpg", class: "package-img" %>
              <!--p><%= Package.find_by(packageid:capsule).name %></p-->
            <% end %>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>

</div>

</div>

<script>
// hacky: this eliminates the height difference between game header img height and package image height
$(window).load(function() {
  var test_game_existence = $(".game-img").first();
  var test_package_existence = $(".package-img").first();

  if (test_game_existence.length && test_package_existence.length) {
    var game_height = test_game_existence.css("height").replace("px","");
    var package_height = test_package_existence.css("height").replace("px","");
    var final_height = game_height-package_height + "px";

    $(".vertical-spacer").css("height", final_height);
    $(".vertical-spacer-text").css("line-height", final_height);
  }
});
</script>